name: metadata
on:
  workflow_dispatch:
    inputs:
      DEBUG:
        description: Enable debug logs for metadata
        required: false
        default: "no"
        type: choice
        options:
        - "yes"
        - "no"
  push:
    branches-ignore:
      - "feature/**"
      - "feature*"
      - "dev/**"
      - "dev*"
      - "dependabot*"
      - "dependabot/**"
    tags-ignore:
      - "**"
  schedule:
    - cron: "30 * * * *"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  metadata:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install python dependencies
        run: |
          sudo apt-get install -y \
            python3-gnupg \
            python3-requests \
            python3-bcrypt \
            python3-coloredlogs

      - name: Generate metadata
        run: ./scripts/generate-server-metadata --generate-list --output ./metadata
        env:
          PROTON_USERNAME: ${{ secrets.PROTON_USERNAME }}
          PROTON_PASSWORD: ${{ secrets.PROTON_PASSWORD }}
          DEBUG: ${{ inputs.DEBUG }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./metadata

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Ping metadata
        run: curl -sfL ${{ steps.deployment.outputs.page_url }}metadata.json
